<mat-card *ngIf="auth.isAuthenticated">
  <mat-card-header>
    <mat-card-title>
      <h2>Post</h2>
    </mat-card-title>
  </mat-card-header>
  <form role="form" (submit)="post()">

    <mat-form-field>
      <input matInput type="text" required [(ngModel)]="postMsg" id="postMsg" name="postMsg">
      <mat-placeholder>
        Post Message
      </mat-placeholder>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="warn" type="submit" name="action">Post</button>
    <br>
    <br>
  </form>
</mat-card>
