<mat-sidenav-container fullscreen>

  <mat-toolbar class="mat-elevation-z4" color="primary">

    <!-- left side -->
    <a routerLink="/">
      <img src="assets/logo.png" alt="" height="40" style="vertical-align:middle;">
    </a>

    <span style="flex: 1 1 auto"></span>

    <!-- right side -->
    <mat-slide-toggle matTooltip="Change theme" matdTooltipPosition="before" (change)="switchTheme($event)">
      Theme
    </mat-slide-toggle>
    <button mat-button color={{item.color}} *ngFor="let item of navigation" [routerLink]="[item.link]" routerLinkActive="active">
      {{item.label}}
    </button>
    <button *ngIf="!auth.isAuthenticated" [routerLink]="['login']" routerLinkActive="active" mat-button color="accent">Login</button>
    <button *ngIf="!auth.isAuthenticated" [routerLink]="['register']" routerLinkActive="active" mat-button color="accent">Register</button>
    <button *ngIf="auth.isAuthenticated" (click)="logout()" routerLinkActive="active" mat-button color="accent">Logout</button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
