.mat-sidenav {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .user-menu {
    height: 67px;
    width: 250px;
    button {
      height: 95%;
      font-size: 18px;
      width: 100%;
    }
  }
 .menuItem {
   > a span{
      font-size: 0.83em;
      font-weight: bold;
      text-transform: uppercase;
    }
    .subMenuItem {
      width: 100%;
      margin-left: 40px;

    }
  }