{
    "smtp": {
        "host": "smtp.gmail.com",
        "port": 587,
        "secure": false,
        "user": "<user>",
        "pass": "<pass>"
    },
    "mlabCom": "mongodb://<user>:<pass>@ds159845.mlab.com:59845/restaurant",
    "cloudMongodbCom": "mongodb://<user>:<pass>@cluster0-shard-00-00-ihpdd.mongodb.net:27017,cluster0-shard-00-01-ihpdd.mongodb.net:27017,cluster0-shard-00-02-ihpdd.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin",
    "cors": {
        "headers": "http://localhost:4200"
    }
}