
<h1>Stripe</h1>
<div class="wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Basic Plan</mat-card-title>
      <mat-card-subtitle>Most Used</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
            10$ / month
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">SUBSCRIBE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Silver Plan</mat-card-title>
          <mat-card-subtitle>ultimate features</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
                13$ / month
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">SUBSCRIBE</button>
        </mat-card-actions>
      </mat-card>
</div>
