<mat-card>
  <p>Login</p>
  <form role="form" (submit)="login()">
    <br>
    <mat-form-field>
      <input matInput type="text" required [(ngModel)]="loginUserData.email" id="email" name="email">
      <mat-placeholder>
        <i class="material-icons app-input-icon">face</i>Username
      </mat-placeholder>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field>
      <input matInput type="password" required [(ngModel)]="loginUserData.password" id="password" name="password">
      <mat-placeholder>
        <i class="material-icons app-input-icon">lock_open</i>Password
      </mat-placeholder>
    </mat-form-field>
    <div>
      <button mat-button [routerLink]="['/forgot-password']">Forgot password?</button>
    </div>
    <br>
    <button mat-raised-button color="warn" type="submit" name="action">LOGIN</button>
    <br>
    <br>
    <span id="err">
      <small>{{errorMsg}}</small>
    </span>
    <mat-slide-toggle color="primary">
      <small>Remember me!</small>
    </mat-slide-toggle>
  </form>
</mat-card>
