<mat-card>
  <p>Login</p>
  <form role="form" (submit)="login()" capsLock (capsLock)="capsWarning = $event">
    <br>
    <mat-form-field>
      <input matInput type="text" required [(ngModel)]="loginUserData.email" id="email" name="email" (blur)="emailfocus = false" (focus)="emailfocus = true">
      <mat-placeholder>
        <i class="material-icons app-input-icon">face</i>Username
      </mat-placeholder>
    </mat-form-field>
    <i class="material-icons app-input-icon" *ngIf="capsWarning && emailfocus" title="Caps Lock On">warning</i>
    <br>
    <br>
    <mat-form-field>
      <input matInput type="password" required [(ngModel)]="loginUserData.password" id="password" name="password" (blur)="passwordnamefocus = false" (focus)="passwordnamefocus = true">
      <mat-placeholder>
        <i class="material-icons app-input-icon">lock_open</i>Password
      </mat-placeholder>
    </mat-form-field>
    <i class="material-icons app-input-icon" *ngIf="capsWarning && passwordnamefocus" title="Caps Lock On">warning</i>
    <div>
      <button mat-button [routerLink]="['/forgot-password']">Forgot password?</button>
    </div>
    <br>
    <button mat-raised-button color="warn" type="submit" name="action">LOGIN</button>
    <br>
    <br>
    <button type="button" (click)="facebookLogin();">Login with facebook</button>
    <br>
    <a mat-stroked-button (click)="enterAsGuest()">Enter as Guest</a>
    <br>
    <br>
    <span id="err">
      <small>{{errorMsg}}</small>
    </span>
    <mat-slide-toggle color="primary">
      <small>Remember me!</small>
    </mat-slide-toggle>
  </form>
</mat-card>
