:host {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   
}
.wrapper {
    width: calc(100% - 260px);
    margin-left: auto;
}
mat-sidenav-container {
    position: fixed;
    width: 100%;
    height: 100%;
     padding-bottom: 49px;
}

mat-sidenav {
    width: 300px;

   
  }