<div class="wrapper">
  <div class="messages">
    <span>111 adaadaadaadaada adaadaadaada adaadaadaadaada adaadaadaada adaadaadaadaada adaadaadaada adaadaadaadaada adaadaadaada adaadaadaadaada
      adaadaadaada </span>
  </div>

  <div class="incoming-text">

    <form class="message-form">
      <mat-divider></mat-divider>
      <mat-form-field class="message-full-width">
        <span matPrefix>
          <mat-icon matSuffix>face</mat-icon> &nbsp;</span>
        <input type="tel" matInput placeholder="Message...">
        <mat-icon matSuffix>send</mat-icon>
      </mat-form-field>

    </form>
  </div>
</div>
