<div class="wrapper">
  <div class="messages">
    <span>{{messages | json}}</span>
  </div>

  <div class="incoming-text">

    <form class="message-form">
      <mat-divider></mat-divider>
      <mat-form-field class="message-full-width">
        <span matPrefix>
          <mat-icon matSuffix>face</mat-icon> &nbsp;</span>
        <input type="text" matInput placeholder="Message..." (keyup.enter)="sendMessage(messageContent)" [(ngModel)]="messageContent"
          name="messageContent">
        <mat-icon matSuffix (click)="sendMessage(messageContent)">send</mat-icon>
      </mat-form-field>

    </form>
  </div>
</div>
