<div class="wrapper">
  <div class="messages" ngx-auto-scroll lock-y-offset="10" observe-attributes>
    <div class="older">
      <a>older messages</a>
    </div>
    <div *ngFor="let msg of messages">
      <div *ngIf="msg.username == currentUser.email; else otherUser" class="ownMsgs">
        <span>
          {{msg.dateCreated | date:'mediumTime'}}
        </span>
        <div>
          <span style="flex: 1 1 auto"></span>
          <span class="ownMsgText">
            {{msg.message}}
          </span>
        </div>
      </div>
      <ng-template #otherUser>
        <div class="otherMsgs">
          <span>
            {{msg.username}}, {{msg.dateCreated | date:'mediumTime'}}
          </span>
          <span>
            {{msg.message}}
          </span>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="incoming-text">

    <form class="message-form">
      <mat-divider></mat-divider>
      <mat-form-field class="message-full-width">
        <span matPrefix>
          <mat-icon matSuffix>face</mat-icon> &nbsp;</span>
        <input type="text" matInput placeholder="Message..." (keyup.enter)="sendMessage(messageContent)" [(ngModel)]="messageContent"
          name="messageContent">
        <mat-icon matSuffix (click)="sendMessage(messageContent)">send</mat-icon>
      </mat-form-field>

    </form>
  </div>
</div>
