<mat-card>
  <p>Register</p>
  <form role="form" (submit)="register()">
    <br>
    <mat-input-container>
      <input matInput type="text" required [(ngModel)]="user.email" id="email" name="email">
      <mat-placeholder>
        <i class="material-icons app-input-icon">email</i>Email/User Name
      </mat-placeholder>
    </mat-input-container>
    <br>
    <mat-input-container>
      <input matInput type="password" required [(ngModel)]="user.password" id="password" name="password">
      <mat-placeholder>
        <i class="material-icons app-input-icon">lock_open</i>Password
      </mat-placeholder>
    </mat-input-container>
    <br>
    <mat-input-container>
      <input matInput type="text" required [(ngModel)]="user.name" id="name" name="name">
      <mat-placeholder>
        First Name/Surname
      </mat-placeholder>
    </mat-input-container>
    <br>
    <mat-input-container>
      <input matInput type="text" required [(ngModel)]="user.description" id="description" name="description">
      <mat-placeholder>
        Description
      </mat-placeholder>
    </mat-input-container>
    <br>
    <button mat-raised-button color="warn" type="submit" name="action">Register</button>
    <br>
  </form>
</mat-card>
