<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Register</h2>
    </mat-card-title>
  </mat-card-header>
  <form role="form" (submit)="register()">
    <br>
    <mat-input-container>
      <input matInput type="text" required [(ngModel)]="user.email" id="email" name="email">
      <mat-placeholder>
        <i class="material-icons app-input-icon">email</i>Email
      </mat-placeholder>
    </mat-input-container>
    <br>
    <br>
    <mat-input-container>
      <input matInput type="password" required [(ngModel)]="user.password" id="password" name="password">
      <mat-placeholder>
        <i class="material-icons app-input-icon">lock_open</i>Password
      </mat-placeholder>
    </mat-input-container>
    <br>
    <br>
    <mat-input-container>
      <input matInput type="text" required [(ngModel)]="user.name" id="name" name="name">
      <mat-placeholder>
        Name
      </mat-placeholder>
    </mat-input-container>
    <br>
    <br>
    <mat-input-container>
      <input matInput type="text" required [(ngModel)]="user.description" id="description" name="description">
      <mat-placeholder>
        Description
      </mat-placeholder>
    </mat-input-container>
    <br>
    <br>
    <button mat-raised-button color="warn" type="submit" name="action">Register</button>
    <br>
    <br>
    <span id="err">
      <small>{{errorMsg}}</small>
    </span>
  </form>
</mat-card>
